logs
project/project
project/target
target
.target
.metadata
.worksheet
.cache
.ssh
.localconf.sh
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin
.DS_Store
.pyc
