@(whoami:String, partner:String)(implicit r: RequestHeader)

@main("こんにちは！", List("http://cdn.peerjs.com/0.3/peer.js", routes.Assets.at("javascripts/wsroom.js").toString) ) {

<div id="partner" value="@partner"></div>
<div id="whoami" value="@whoami"></div>



<video id="video-capture" ></video>
<video id="video-receiver" ></video>

<div id="room-menu">
  <a href="#" id="takepic">&nbsp;&#9786</a>
  <a href="@routes.Application.listImages" target="_blank">&nbsp;&#9997</a>
</div>

<button id="btn-capture-stop">停止</button>
}
